{% set opengraphUrl = site.url + '/img/og/home.jpeg' %}

{%- extends "layouts/base.html" -%}

{%- block injectHead -%}
  <link rel="preload" href="/scripts/globe.js" as="script" fetchpriority="high">
  <link rel="preload" href="/scripts/details-utils.js" as="script" fetchpriority="high">
{%- endblock -%}

{%- block content -%}
  {%- include "sections/hero-section.html" -%}
  {%- include "sections/services-section.html" -%}
  {%- include "sections/clients-section.html" -%}
  {%- include "sections/cta-section.html" -%}
{%- endblock -%}

{%- block bodyScripts -%}
  <script src="/scripts/details-utils.js" defer></script>

  <!-- <script 
    src="/scripts/lite-yt-embed.js" 
    async
  ></script> -->
{%- endblock -%}