{%- extends "layouts/base.html" -%}

{%- block content -%}
  <article 
    class="wrapper flow" 
    style="--flow-space: 1em; padding-top: var(--space-m);">
    <h1 style="font-size: var(--step-2);">Current {{ title }}</h1>
    {% renderTemplate "md" %}
[![Netlify Status](https://api.netlify.com/api/v1/badges/2fdc86c0-efa5-42a5-b0ee-ef9099698656/deploy-status)](https://app.netlify.com/sites/brilliant-hamster-6a78c4/deploys)
    {% endrenderTemplate %}
    <p>
      The status badge automatically updates to show the status of the site’s most recent deploy.
    </p>
    <hr>
    <p>Please get in touch with the developer if the builds fails.</p>
  </article>
{%- endblock -%}
