<header class="flow">
  <div class="section-title cluster">
    <h{{ headingLevel if headingLevel else '2' }} class="cluster">
      {{ siteContent.clients.heading }}
    </h{{ headingLevel if headingLevel else '2' }}>
    {%- if not headingLevel -%}
      <a href="{{ siteContent.clients.url }}" class="btn step-0" data-variant="secondary">
        Know More
        <span class="visually-hidden"> about {{ siteContent.clients.heading | lower }}</span>
      </a>
    {%- endif -%}
  </div>
  <p>{{ siteContent.clients.subtitle | safe }}</p>
</header>