<div class="globe">
  <canvas
    id="cobe"
    style="width: 720px; height: 720px;"
    width="1440"
    height="1440"
    aria-label="Rotating globe with markers depicting CG21 offices in India, Singapore and China"
  >
    <img src="/img/globe.png" alt="Globe with markers depicting CG21 offices in India, Singapore and China" style="width: 720px; max-width: unset;" width="720"
    height="720">
  </canvas>
</div>
<script 
    src="/scripts/globe.js" 
    async 
    fetchpriority="high"
></script>