<div class="offices">
  <section class="wrapper flow">
    <header class="flow">
      <div class="section-title">
        <h2 class="">Offices</h2>
      </div>
      <p>
        {{ siteContent.contact.timing | safe }}
      </p>
    </header>
    <ul class="grid" role="list">
      <li class="flow">
        <h3>India</h3>
        <address class="flow">
          <p>CG21 EXIM
            <br>
            Samartha Aishwarya, B-1013
            <br>
            Opp. Highland Park
            <br>
            Lokhandwala Complex
            <br>
            Andheri West, Mumbai 400053
          </p>
        </address>
        <a class="btn step-0" data-variant="secondary" href="tel:+912235573559">Call +91 22-35573559</a>
      </li>
      <li class="flow">
        <h3>Singapore</h3>
        <address class="flow">
          <p>CG21 PTE LTD
            <br>
            #23-08, SBF Center
            <br>
            160 Robinson Road
            <br>
            Singapore 068914
          </p>
        </address>
        <a class="btn step-0" data-variant="secondary" href="tel:+6596781120">Call +65-96781120</a>
      </li>
      <li class="flow">
        <h3>China</h3>
        <address class="flow">
          <p>Dongying city
            <br>
            Shandong province
            <br>
            China
          </p>
        </address>
      </li>
    </ul>
  </section>
</div>