{% if headingLevel %}
  {% set serviceHeadingLevel = 2 %}
{% else %}
  {% set serviceHeadingLevel = 3 %}
{% endif %}

<ul class="flow" role="list">
  {% for item in siteContent.services.items %}  
    <li class="service-item flow">
      <h{{ serviceHeadingLevel }} class="stack">
        {{ item.serviceName }}
      </h{{ serviceHeadingLevel }}>
      {% if item.desc %}
        <ul class="service-desc flow" role="list">
          {% for item in item.desc %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if item.import %}
        {%- include "partials/import-list.html" -%}
      {% endif %}
      {% if item.export %}
        {%- include "partials/export-list.html" -%}
      {% endif %}
    </li>
  {% endfor %}
</ul>